body
{
    background-color: lightslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td:hover
{
    background-color: mediumpurple;
}

h1:hover
{
    background-color: gold;
}